<div *ngIf="taskForm">
  <mat-dialog-content>
    <form class="form" [formGroup]="taskForm" (ngSubmit)="createTask()">
      <h1>Create task</h1>
      <mat-form-field class="wide" appearance="fill">
        <mat-label>Add task title</mat-label>
        <input
          matInput
          placeholder="Example Login/registration system"
          formControlName="title"
        />
        <mat-error *ngIf="errorControl.title.errors?.required">
          Please enter a title.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="wide" appearance="fill">
        <mat-label>Add task description</mat-label>
        <textarea
          matInput
          placeholder="Example create a login and registration system..."
          formControlName="description"
          cdkTextareaAutosize
        ></textarea>
        <mat-error *ngIf="errorControl.description.errors?.required">
          Please enter a subtitle.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="wide" appearance="fill">
        <mat-label>Choose a deadline</mat-label>
        <input
          matInput
          [matDatepicker]="deadlinePicker"
          formControlName="deadline"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="deadlinePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #deadlinePicker></mat-datepicker>
        <mat-error *ngIf="errorControl.description.errors?.required">
          Please enter a deadline.
        </mat-error>
      </mat-form-field>

      <button mat-button type="submit" [disabled]="!taskForm.valid">
        CREATE
      </button>
      <button mat-button type="button" color="warn" mat-dialog-close>
        CANCEL
      </button>
    </form>
  </mat-dialog-content>
</div>
